<!DOCTYPE html>
<html layout:decorator="index2" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" th:include="math/leftNavigation">

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h2 class="sub-header">Current/Active Hitran Parameters</h2>

                <!--calculation-->
                <form class="form-horizontal" th:action="@{/math/hitran}" th:object="${hitran}" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">callHitran</label>

                        <div class="col-sm-10">
                            <label>1 <input type="checkbox" th:field="*{callHitran[0]}"/></label>
                            <label>2 <input type="checkbox" th:field="*{callHitran[1]}"/></label>
                            <label>3 <input type="checkbox" th:field="*{callHitran[2]}"/></label>
                            <label>4 <input type="checkbox" th:field="*{callHitran[3]}"/></label>
                            <label>5 <input type="checkbox" th:field="*{callHitran[4]}"/></label>
                            <label>6 <input type="checkbox" th:field="*{callHitran[5]}"/></label>
                            <label>7 <input type="checkbox" th:field="*{callHitran[6]}"/></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">lowWN</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{lowWN[0]}"/>
                            <input type="text" th:field="*{lowWN[1]}"/>
                            <input type="text" th:field="*{lowWN[2]}"/>
                            <input type="text" th:field="*{lowWN[3]}"/>
                            <input type="text" th:field="*{lowWN[4]}"/>
                            <input type="text" th:field="*{lowWN[5]}"/>
                            <input type="text" th:field="*{lowWN[6]}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">highWN</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{highWN[0]}"/>
                            <input type="text" th:field="*{highWN[1]}"/>
                            <input type="text" th:field="*{highWN[2]}"/>
                            <input type="text" th:field="*{highWN[3]}"/>
                            <input type="text" th:field="*{highWN[4]}"/>
                            <input type="text" th:field="*{highWN[5]}"/>
                            <input type="text" th:field="*{highWN[6]}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">baselineStep</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{baselineStep[0]}"/>
                            <input type="text" th:field="*{baselineStep[1]}"/>
                            <input type="text" th:field="*{baselineStep[2]}"/>
                            <input type="text" th:field="*{baselineStep[3]}"/>
                            <input type="text" th:field="*{baselineStep[4]}"/>
                            <input type="text" th:field="*{baselineStep[5]}"/>
                            <input type="text" th:field="*{baselineStep[6]}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">stp</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{stp[0]}"/>
                            <input type="text" th:field="*{stp[1]}"/>
                            <input type="text" th:field="*{stp[2]}"/>
                            <input type="text" th:field="*{stp[3]}"/>
                            <input type="text" th:field="*{stp[4]}"/>
                            <input type="text" th:field="*{stp[5]}"/>
                            <input type="text" th:field="*{stp[6]}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">intensThres1</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{intensThres1}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">isotopo1</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{isotopo1}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">intensThres2</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{intensThres2}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">isotopo2</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{isotopo2}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">sf</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{sf[0]}"/>
                            <input type="text" th:field="*{sf[1]}"/>
                            <input type="text" th:field="*{sf[2]}"/>
                            <input type="text" th:field="*{sf[3]}"/>
                            <input type="text" th:field="*{sf[4]}"/>
                            <input type="text" th:field="*{sf[5]}"/>
                            <input type="text" th:field="*{sf[6]}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">temp</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{temp}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Patm</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{Patm}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Dd</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{Dd[0]}"/>
                            <input type="text" th:field="*{Dd[1]}"/>
                            <input type="text" th:field="*{Dd[2]}"/>
                            <input type="text" th:field="*{Dd[3]}"/>
                            <input type="text" th:field="*{Dd[4]}"/>
                            <input type="text" th:field="*{Dd[5]}"/>
                            <input type="text" th:field="*{Dd[6]}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
</body>
</html>