<!DOCTYPE html>
<html layout:decorator="index2" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" th:include="math/leftNavigation">

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h2 class="sub-header">Current/Active Levenberg Parameters</h2>

                <!--calculation-->
                <form class="form-horizontal" th:action="@{/math/levenberg}" th:object="${levenberg}" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">DP</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{dp.get(0)}"/>
                            <input type="text" th:field="*{dp.get(1)}"/>
                            <input type="text" th:field="*{dp.get(2)}"/>
                            <input type="text" th:field="*{dp.get(3)}"/>
                            <input type="text" th:field="*{dp.get(4)}"/>
                            <input type="text" th:field="*{dp.get(5)}"/>
                            <input type="text" th:field="*{dp.get(6)}"/>
                            <input type="text" th:field="*{dp.get(7)}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">PIN</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{pin.get(0)}"/>
                            <input type="text" th:field="*{pin.get(1)}"/>
                            <input type="text" th:field="*{pin.get(2)}"/>
                            <input type="text" th:field="*{pin.get(3)}"/>
                            <input type="text" th:field="*{pin.get(4)}"/>
                            <input type="text" th:field="*{pin.get(5)}"/>
                            <input type="text" th:field="*{pin.get(6)}"/>
                            <input type="text" th:field="*{pin.get(7)}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">MIN-Values</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{minValues.get(0)}"/>
                            <input type="text" th:field="*{minValues.get(1)}"/>
                            <input type="text" th:field="*{minValues.get(2)}"/>
                            <input type="text" th:field="*{minValues.get(3)}"/>
                            <input type="text" th:field="*{minValues.get(4)}"/>
                            <input type="text" th:field="*{minValues.get(5)}"/>
                            <input type="text" th:field="*{minValues.get(6)}"/>
                            <input type="text" th:field="*{minValues.get(7)}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">MAX-Values</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{maxValues.get(0)}"/>
                            <input type="text" th:field="*{maxValues.get(1)}"/>
                            <input type="text" th:field="*{maxValues.get(2)}"/>
                            <input type="text" th:field="*{maxValues.get(3)}"/>
                            <input type="text" th:field="*{maxValues.get(4)}"/>
                            <input type="text" th:field="*{maxValues.get(5)}"/>
                            <input type="text" th:field="*{maxValues.get(6)}"/>
                            <input type="text" th:field="*{maxValues.get(7)}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">stol</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{stol}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">niter</label>

                        <div class="col-sm-10">
                            <input type="text" th:field="*{niter}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">nlCorr</label>

                        <div class="col-sm-10">
                            <input type="checkbox" th:field="*{nlCorr}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
</body>
</html>