<!DOCTYPE html>
<html layout:decorator="index2" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" th:include="bruker/leftNavigation">

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h2 class="sub-header">Bruker Overview</h2>
                <div id="bruker-version" th:text="${brukerVersion}"></div>
            </div>
        </div>
    </div>

    <script src="../static/js/bruker.js" th:src="@{/js/bruker.js}"></script>
</div>
</body>
</html>