<ul class="nav nav-sidebar">
    <li th:classappend="${#httpServletRequest.getRequestURI() == '/bruker/' ? 'active':''}"><a
            th:href="@{/bruker/}">Overview<span class="sr-only">(current)</span></a></li>
    <li th:classappend="${#httpServletRequest.getRequestURI() == '/bruker/getMeasuredSamples' ? 'active':''}"><a
            th:href="@{/bruker/getMeasuredSamples}">Measurements<span class="sr-only">(current)</span></a></li>
    <li th:classappend="${#httpServletRequest.getRequestURI() == '/bruker/parameter' ? 'active':''}"><a
            th:href="@{/bruker/parameter}">Get Parameter<span class="sr-only">(current)</span></a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="">System State</a></li>
</ul>