<!DOCTYPE html>
<html layout:decorator="index2" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" th:include="bruker/leftNavigation">

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h2 class="sub-header">Measurements</h2>

                <form action="#" th:action="@{/bruker/measurement/start}" method="post">
                    <button id="startMeasurementBtn" class="btn btn-default" type="submit"> Start Measurement</button>
                </form>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Created at</th>
                            <th>Finished at</th>
                            <th>State</th>
                            <th>Filename</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="measurement : ${allMeasurements}">
                            <td th:text="${measurement.createdAt}"></td>
                            <td th:text="${measurement.finishedAt}"></td>
                            <td th:text="${measurement.brukerStateEnum}"></td>
                            <td th:text="${measurement.filename}"></td>
                            <td><a id="editMeasurement1" type="button" data-toggle="modal"
                                   class="glyphicon glyphicon-edit" data-target="#editMeasurementModal"
                                   title="Edit"> </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editMeasurementModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">Measurement Details</h4>
                    </div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Molecule</th>
                            <th>[ppm]</th>
                            <th><sup>0</sup>/<sub>00</sub></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td scope="row">H<sub>2</sub>O</td>
                            <td>12.5 ppm</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td scope="row">CO<sub>2</sub></td>
                            <td>385.1 ppm</td>
                            <td>-8.5</td>
                        </tr>
                        <tr>
                            <td scope="row">N<sub>2</sub>O</td>
                            <td>1.06 ppm</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td scope="row">CO</td>
                            <td>1.99 ppm</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td scope="row">CH<sub>4</sub></td>
                            <td>2.05 ppm</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td scope="row">NO/NO<sub>2</sub></td>
                            <td>0.0 ppm</td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>