<!DOCTYPE html>
<html layout:decorator="index2" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" th:include="bruker/leftNavigation">

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h2 class="sub-header">Measurements</h2>

                <form action="#" th:action="@{/bruker/measurement/start}" method="post">
                    <button id="startMeasurementBtn" class="btn btn-default" type="submit"> Start Measurement</button>
                </form>

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Created at</th>
                            <th>Finished at</th>
                            <th>State</th>
                            <th>Filename</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="measurement : ${allMeasurements}">
                            <td th:text="${measurement.createdAt}"></td>
                            <td th:text="${measurement.finishedAt}"></td>
                            <td th:text="${measurement.brukerStateEnum}"></td>
                            <td th:text="${measurement.filename}"></td>
                            <td><a class="btn btn-default show-measurement"
                                   th:attr="id=${'show_measurement_' + measurement.id}" type="button"
                                   title="Show">Details </a></td>
                            <td th:if="${measurement.brukerStateEnum == T(deltaanalytics.ftirweb.dto.BrukerStateEnumDto).FINISHED }">
                                <a class="btn btn-default" th:attr="id=${'calculate_measurement_' + measurement.id}"
                                   type="button"
                                   title="Calculate">Calculate </a></td>
                            <td th:if="${measurement.brukerStateEnum != T(deltaanalytics.ftirweb.dto.BrukerStateEnumDto).FINISHED }">
                                <label> Calculation not possible </label></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Measurement Details</h4>
                    </div>
                    <div class="modal-body"> <!-- MODAL Content is in measureSampleModal.html-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>