<!DOCTYPE html>
<html layout:decorator="index2" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-3 col-md-2 sidebar" th:include="jueke/leftNavigation">

            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h2 class="sub-header">Jueke Settings</h2>

                <input type="checkbox" name="my-checkbox" checked="checked"/>Valve6

                <div class="form-group">
                    <button id="disablePump" class="btn btn-default" type="button">Disable Pump</button>
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>