<div class="form-group form-group-md" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="control-label ">
        <div class="hred">Temperature Regulation</div>
    </div>

    <div class="boxtp tregula">
        <div class="row">
            <div class="col-md-4">
                <label for="temperature">T(set):</label>
            </div>

            <input class="col-md-4" id="tempera" type="number"
                   min="0" max="100" step="1" value="1"/>

            <div class="col-md-2">
                <label><sup>0</sup>C</label>
            </div>
        </div>

        <div class="row">
            <label class="col-md-offset-4" id="tempactive">Active</label>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-1">
                <form action="#" th:action="@{/jueke/pressureRegulationStart}" method="post">
                    <button id="temperature" class="btn btn-default" type="submit">Start</button>
                </form>
            </div>
            <div class="col-md-offset-3 col-md-1">
                <form action="#" th:action="@{/jueke/tpressureRegulationStop}" method="post">
                    <button class="btn btn-default" type="submit">Stop</button>
                </form>
            </div>
        </div>
        <!-- Temerpatur setzen fehlt. Jede Änderung setzen ? -->

    </div>
    <br> </br>

    <div class="hblue">Pressure Regulation</div>
    <div class="boxtp tregula">
        <div class="row">
            <div class="col-md-4">
                <label for="pressure">p(set):</label>
            </div>

            <input class="col-md-4" id="pressure" type="number"
                   min="0" max="2000" step="10" value="0"/>

            <div class="col-md-2">
                <label>mbar</label>
            </div>
        </div>
        <div class="row">
            <label class="col-md-offset-4" id="pressactive">Active</label>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-1">
                <form action="#" th:action="@{/jueke/pressureRegulationStart}" method="post">
                    <button class="btn btn-default" type="submit">Start</button>
                </form>
            </div>
            <div class="col-md-offset-3 col-md-1">
                <form action="#" th:action="@{/jueke/pressureRegulationStop}" method="post">
                    <button class="btn btn-default" type="submit">Stop</button>
                </form>
            </div>
        </div>
    </div>
    <br> </br>

    <div class="form-group col-md-offset-4">

        <button type="button" class="btn  redpump" id="pumpsymbol" >
            <img src="/img/Pumpe-symbol-links.png" style="height: 30px" width="30px">  </img>
        </button>


    </div>
    <div class="col-md-3">
        <label class="hblue" for="pumppowerActual">p(set):</label>
        <label class="hblue" id="pumppowerActual"></label>
    </div>

    <input class="col-md-3" id="pumppower" type="number"
           min="0" max="100" step="1" value="0"/>


    <label class="col-md-2 hblue">
        %</label>
    <button id="setpumpspeed"
            class="btn col-md-4"
            type="button" >Set speed</button>
</div>
