<!DOCTYPE html>
<html layout:decorator="index2" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-3 col-md-2 sidebar" th:include="jueke/leftNavigation">

            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <h2 class="sub-header">Jueke Status</h2>

                <div><label>Valve1</label> <label id="valve1State"></label></div>
                <div><label>Valve2</label> <label id="valve2State"></label></div>
                <div><label>Valve3</label> <label id="valve3State"></label></div>
                <div><label>Valve4</label> <label id="valve4State"></label></div>
                <div><label>Valve5</label> <label id="valve5State"></label></div>
                <div><label>Valve6</label> <label id="valve6State"></label></div>
                <div><label>Valve7</label> <label id="valve7State"></label></div>
                <div><label>Pump</label> <label id="pumpState"></label></div>
                <div><label>Pump Speed</label> <label id="pumpSpeedState"></label></div>
                <div><label>Pressure</label> <label id="pressureState"></label></div>
                <div><label>Temperature</label> <label id="temperatureState"></label></div>

            </div>
        </div>

        <script src="../static/js/jueke.js" th:src="@{/js/jueke.js}"></script>
        <script>
            $(document).ready(function () {
                setInterval(getJuekeState, 1000);
            });
        </script>
    </div>
</div>
</body>
</html>