<div class="form-group form-group-md">
    <label class="col-md-1 hblue control-label">  Pressure_pt:</label>
    <div class="col-md-1 col-md-offset-3 control-label">
        <label id="pressureState"> </label></div>

    <label class="col-md-1 col-md-offset-3 hblue control-label">
        mbar</label>

    <br> </br>

    <div class="box heat">
        <br> </br>
        <br> </br>
        <br> </br>
        <br> </br>
        <br> </br>
        <br> </br>
        <br> </br>
        <br> </br>
    </div>
    <br> </br>

    <div class="col-md-1 hred control-label"><label> Temperature:</label></div>
    <div class="col-md-1 col-md-offset-3 control-label">
        <label id="temperatureState"> </label></div>
    <div class="col-md-1 col-md-offset-2 hred control-label">
        <label><sup>0</sup>C</label></div>
</div>
<script>
    $(document).ready(function () {
        setInterval(getJuekeState, 1000);
    });
</script>
