<br> </br>



<div>
    <button type="button" class="btn  redpump" id="valve7">
        <img src="/img/ventil2-2-rechts.png" style="height: 45px" width="30px">  </img>
    </button>
    <label>
        <small>
            <sub>V7</sub>
        </small>
    </label>


</div>

<div>
    <button type="button" class="btn  redpump" id="valve6">
        <img src="/img/ventil2-2-rechts.png" style="height: 45px" width="30px">  </img>
    </button>
    <label>
        <small>
            <sub>V6</sub>
        </small>
    </label>


</div>
<br> </br>

<div>
    <button type="button" class="btn  redpump" id="valve5">
        <img src="/img/ventil2-2-linksV2.png" style="height: 45px" width="30px">  </img>
    </button>
    <label>
        <small>
            <sub>V5</sub>
        </small>
    </label>


</div>

<div>
    <button type="button" class="btn  redpump" id="valve4">
        <img src="/img/ventil2-2-linksV2.png" style="height: 45px" width="30px">  </img>
    </button>
    <label>
        <small>
            <sub>V4</sub>
        </small>
    </label>


</div>
<div>
    <button type="button" class="btn  redpump" id="valve3">
        <img src="/img/ventil2-2-linksV2.png" style="height: 45px" width="30px">  </img>
    </button>
    <label>
        <small>
            <sub>V3</sub>
        </small>
    </label>


</div>
<br> </br>

<div>
    <button type="button" class="btn  redpump" id="valve2">
        <img src="/img/ventil2-2-linksV2.png" style="height: 45px" width="30px">  </img>
    </button>
    <label>
        <small>
            <sub>V2</sub>
        </small>
    </label>
</div>



