            <br> </br>
            <div class="switch-mini"> <Label>Valve 7</Label>
               <input type="checkbox" id="ventil7" name="ventil7" checked="checked"/>
             </div>

             <div> <Label>Valve 6</Label>
                 <input type="checkbox" id="ventil6" name="ventil6" checked="checked" />
              </div>
             <br> </br>
            <br> </br>

              <div><Label>Valve 5</Label>
                <input type="checkbox" id="ventil5" name="ventil5" checked="checked" />
             </div>

            <div><Label>Valve 4</Label>
               <input type="checkbox" id="ventil4" name="ventil4" checked="checked" />
            </div>
            <div><Label>Valve 3</Label>
              <input type="checkbox" id="ventil3" name="ventil3" checked="checked" />
            </div>
                <div><Label>Valve 2</Label>
                <input type="checkbox" id="ventil2" name="ventil2" checked="checked" />
            </div>

            <div class="form-group">
                <button id="disablePump" class="btn btn-default" type="button">Disable Pump</button>
            </div>
            <script>
                $(document).ready(function () {
                getJuekeStateForSettings();
                });
            </script>


