<br> </br>



    <Label>Valve 7</Label>
    <input class="bootstrap-switch bootstrap-switch-mini bootstrap-switch-handle-on"
           type="checkbox" id="ventil7" name="ventil7"/>


<div><Label>Valve 6</Label>
    <input type="checkbox" id="ventil6" name="ventil6"/>
</div>
<br> </br>
<br> </br>

<div><Label>Valve 5</Label>
    <input type="checkbox" id="ventil5" name="ventil5"/>
</div>

<div><Label>Valve 4</Label>
    <input type="checkbox" id="ventil4" name="ventil4"/>
</div>
<div><Label>Valve 3</Label>
    <input type="checkbox" id="ventil3" name="ventil3"/>
</div>
<br> </br>
<br> </br>
<div><Label>Valve 2</Label>
    <input type="checkbox" id="ventil2" name="ventil2"/>
</div>



