<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="css">
    <link rel="stylesheet" type="text/css" media="all"
          href="../../resources/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/ftir-web.css" th:href="@{/css/ftir-web.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/bootstrap-switch.min.css" th:href="@{/css/bootstrap-switch.min.css}"/>

</div>
<div th:fragment="js">
    <script src="../static/js/vendor/jquery.min.js" th:src="@{/js/vendor/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/jquery.tablesorter.min.js" th:src="@{/js/jquery.tablesorter.min.js}"></script>
    <script src="../static/js/d3.min.js" th:src="@{/js/d3.min.js}"></script>
    <script src="../static/js/bootstrap-switch.min.js" th:src="@{/js/bootstrap-switch.min.js}"></script>
</div>
</body>
</html>